.bg-theme{
  background-color: #2B2B52;
}

.cart-icon{
  font-size: 2rem;
}

.about-background{
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-warning{
  padding: 8px 35px;
}

.card-img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 20px;
}